# Database configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_NAME=agro_db
DB_SSL_MODE=disable

# Server configuration
PORT=

# JWT configuration
JWT_SECRET=qwerty

# Weather API credentials
WEATHER_API_LOGIN=your_email@example.com
WEATHER_API_PASSWORD=your_api_key

# Test database configuration (optional)
TEST_DB_USER=postgres
TEST_DB_PASSWORD=
TEST_DB_NAME=agro_test_db
TEST_DB_PORT=5433
